body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #2C2C2C;
}

.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B263B;
  padding: 10px 20px;
  color: #D6D6D6;
  position: relative;
  z-index: 1;
}

.navbar .home-logo {
  font-size: 24px;
  font-weight: bold;
  color: #00A8E8;
  text-decoration: none;
}

.menu-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-links a {
  color: #D6D6D6;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s;
}

.menu-links a:hover {
  color: #00D4FF;
}

.menu-links .auth-button {
  background-color: #FFFFFF;
  color: #1B263B;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-links .auth-button:hover {
  background-color: #00A8E8;
  color: #FFFFFF;
}

#usernameNavbar {
  font-weight: bold;
  color: #00A8E8;
}

#actionButton {
  background-color: #FFFFFF;
  color: #1B263B;
  border: 2px solid #1B263B;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

#actionButton:hover {
  background-color: #00A8E8;
  color: #FFFFFF;
}

.burger-menu {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    font-size: 30px;
  }

  .menu-links {
    display: none;
    position: absolute;
    width: 100%;
    top: 3em;
    left: 0;
    right: 0;
    background-color: #1B263B;
    flex-direction: column;
    padding: 10px;
    z-index: 2;
  }

  .menu-links.open {
    display: flex;
  }

  .menu-links a {
    padding: 10px 20px;
    border-bottom: 1px solid #D6D6D6;
  }

  .menu-links a:last-child {
    border-bottom: none;
  }
}
